.list{
    font-size: 18px;
    color: rgb(17, 6, 110);
    background-color: chartreuse;
    width:300px;
}

.host{

    font-size: 18px;
    background-color: rgb(197, 184, 243);
    width:300px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

a{
    text-align: center;
    font-size: medium;
}

.div_list{
    
    margin: 80px auto;
    width:300px;
}